@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/pt-sans-regular.woff2') format('woff2'),
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/pt-sans-700.woff2') format('woff2'),
}
